.divider:after,
.divider:before {
   content: "";
   flex: 1;
   height: 1px;
   background: #eee;
}

.h-custom {
   height: calc(100% - 73px);
}

@media (max-width: 450px) {
   .h-custom {
      height: 100%;
   }
}

.logged-in {
   background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 100%;
}